.outer-box{
    width: 1300px;
    height: 500px;
    background: rgb(21, 78, 21);
    padding: 77px;

}
.box1{
    width: 500px;
    height: 200px;
    background: rgb(14, 70, 78);
    padding: 10px;
    float: left;
    margin: 10px;
    text-align: left;

}
.box2{
    width: 550px;
    height: 190px;
    background: rgb(10, 4, 77);
    padding: 20px;
    float: right;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    border: 5px brown;
    color: white;
    margin-top: -35px;
}
.box3{
    margin: 590px;
    height: 20px;
    width: 55px;
    float: none;
    margin-top: 250px;
    background: #ae0e0e;
    padding: 10px;
    color: whitesmoke;

}
}

